.blogContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0.5em;
    padding-bottom: 10px;
}
.createBlogContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light);
    padding: 1em;
    border: 1px solid var(--border-dark);
    color: var(--dark);
    transition: background-color 0.3s ease-in-out;
}
.create-blog-container {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.create-blog-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--success);
    margin-bottom: 10px;
}

.create-blog-container .blog-form {
    display: flex;
    flex-direction: column;
   
}

.form-group {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.form-group2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;

}
.form-group2 textarea{
    background-color: var(--grey) !important;
    color: var(--dark) !important;
    border: 1px solid var(--border-dark);
    height: 100%;
    padding: 5px;
    outline: none;
    overflow: hidden;
   
}


.create-blog-container .form-group label {
    font-size: 0.8rem;
    color: var(--warning);
    font-weight: 600;

}
.create-blog-container .form-group label span {
    font-size: 0.8rem;
    color: var(--danger);
    font-weight: 600;

}
.form-group2 label {
    font-size: 0.8rem;
    color: var(--warning);
    font-weight: 600;
    margin-top: 6px;
}


.create-blog-container .form-group input[type="text"]{
    border: 1px solid var(--border-dark);
    background-color: var(--grey);
    padding: 5px;
    outline: none;
    color: var(--dark);
}
.create-blog-container .form-group input {
    border: 1px solid var(--border-dark);
    background-color: var(--grey);
    padding: 5px;
    outline: none;
    color: var(--dark);
}



.create-blog-container .section-group {
    display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 20px;
}

.create-blog-container .section-group h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--success);
    margin-bottom: 10px;
}

.create-blog-container .section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create-blog-container .section div input{
    border: 1px solid var(--border-dark);
    background-color: var(--grey);
    padding: 5px;
    outline: none;
    color: var(--dark);
    width: 100%;
}



.create-blog-container .section label {
    font-size: 0.8rem;
    color: var(--warning);
    font-weight: 600;
}

.create-blog-container .section input[type="text"]{
    border: 1px solid var(--border-dark);
    background-color: var(--grey);
    padding: 5px;
    outline: none;
    color: var(--dark);
}

.buttons-container{
    display: flex;
    gap: 10px;
}

.create-blog-container .add-section-btn {
    height: 0;
    padding: 1.2em 1em;
    flex: 1;
    background-color: var(--success);
    color: #fff;
    border-radius: 0.2em;
    border: 1px solid var(--light);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.add-list-btn{
    height: 0;
    padding: 1.2em 1em;
    background-color: var(--warning);
    color: #000;
    border-radius: 0.2em;
    border: 1px solid var(--light);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex: 1;
}
.add-content-btn{
    height: 0;
    padding: 1.2em 1em;
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 0.2em;
    border: 1px solid var(--light);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex: 1;
}
.delete{
    height: 0;
    padding: 1.2em 1em;
    background-color: var(--danger);
    color: #fff;
    border-radius: 0.2em;
    border: 1px solid var(--light);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
    width: max-content;
}
.create-blog-container .submit-btn {
    height: 0;
    padding: 1.2em 1em;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.2em;
    border: 1px solid var(--light);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.success-message{
    color: var(--success);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}
.error-message2{
    color: var(--danger);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}
.file{
    width: 120px;
    background-color: var(--grey);
    border-radius: 5px;
    border: 1px solid rgba(241, 241, 241, 0.1);
    padding: 0 !important;
}
.file-and-img{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 7px;
    
}
.inputSelection{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}
.inputSelection input{
    z-index: 1000;
    opacity: 0;  
}
.inputSelection span{
    position: absolute;
    font-size: 12px;
    background-color: var(--grey);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0.3rem;
}
.deletePhoto{
    width: 120px;
    font-size: 12px;
    background-color: var(--danger);
    border: none;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    padding: 0.3rem;
}
.image-previews{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.image-previews img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.list-item{
    display: flex;
    gap: 5px;
    align-items: end;
    background-color: var(--grey);
    border: 1px solid var(--border-dark);
    margin-bottom: 10px;
    
}
.list-item textarea{
    background-color: var(--grey) !important;
    color: var(--dark) !important;
    border: none;
    height: 100%;
    padding: 5px;
    outline: none;
    overflow: hidden;
    
}
.list-item div {
  
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}
.eraseContent{
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}
.eraseContent:hover{
   color: rgb(255, 102, 102);
}
.list-item input {
   margin-bottom: 10px;
}
.list-item textarea {
    width: 100%;
 }
 .listElements{
    background-color: transparent !important;
    border: none !important;
 }
 .titleImg{
    margin-bottom: 10px !important;
}


