.mainSignContent {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.SingInMainContentGrid { 
    display: flex;
    flex: 1;
}

.persentacion {
    width: 50%;
    background-color: #212121;
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.persentacion img {
    object-fit: contain;
    height: 400px;
}
.signInContainerMain{
    display: flex;
    align-items: center;

}
.signInContainerGrid{
    width: 100%;
    max-height: 320px;
    height: 100%;

}
.signInTitleAndIcon{
    display: flex; 
    align-items: center;
    gap: 10px;
}
.signInTitleAndIcon div{
    font-size: 32px;
    font-weight: 600px;
}
.bxs-dashboard{
    font-size: 32px !important;
    color: var(--primary);
}
.cardImgs{
    width: 427px;
    height: 320px;
}

.formLogicContainer {
    width: 50%;
    background-color:#212121;
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-left: 2px solid var(--border-dark);
}

.Footer {
    border-top: 2px solid var(--border-dark);
    background-color: #000;
    height: 50px;
    
}
.signInTitleAndIcon p {
    line-height: 0.9;
    margin-left: 45px;
    color: var(--dark);
}
.login-heading{
    font-size: 20px;
    color: var(--dark);
}
.h4{
    font-size: 16px;
    color: var(--dark);
}
.inputClasss{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}
.form-input{
    padding: 8px;
    border-radius: 8px;
}