@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    width: 5px; 
    height: 0%;
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #15113C;
    cursor: pointer; 
  }

:root{
    --light:#f6f6f9;
    --primary: #1976d2;
    --light-primary: #cfe8ff;
    --grey:#e6e6e6;
    --hover-grey: rgba(4, 0, 250, 0.042);
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger-ligth:#ff8597;
    --danger: #d32f2f;
    --warning:#f8c02d;
    --light-warning: #fff2c6;
    --success: #388e3c;
    --orange: #0e8da6;
    --light-success: #bbf7d8;
    --hover-border: rgba(23, 23, 23, 0.1);
    --pink:#f41653;

    --border-dark:rgba(184, 182, 182, 0.457);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.bx{
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light:  #25252c;
    --grey: #212121;
    --dark: #fbfbfb;
    --hover-border: rgba(255, 255, 255, 0.3);
    --hover-grey: rgba(178, 178, 178, 0.1);
    --border-dark:rgba(255, 255, 255, 0.13);
    
}
body{
    background: var(--grey);
    overflow-x: hidden;
}